@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';


:root {
  --primary-teal: #1fc7ab;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Montserrat", sans-serif !important;
  background: rgb(31,199,171);
  background: linear-gradient(90deg, rgba(31,199,171,1) 0%, rgba(101,47,145,1) 50%, rgba(31,199,171,1) 100%);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 8rem;
}

.App-logo {
  max-height: 8rem;
  pointer-events: none;
}

.navbar {
  min-height: 8rem;
}

.navbar-nav li a {
  border-top: .2rem solid var(--primary-dark);
}

nav a.nav-link {
  letter-spacing: 0.03rem;
}

.navbar-nav li a.active, .navbar-nav li a:focus {
  border-top: .2rem solid var(--primary-teal);
}

h4 {
  padding-top: .75rem;
}

footer {
  margin-top: auto;
}