@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-teal: #1fc7ab;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  max-height: 8rem;
  pointer-events: none;
}

.navbar {
  min-height: 8rem;
}

.navbar-nav li a {
  border-top: .2rem solid var(--primary-dark);
}

nav a.nav-link {
  letter-spacing: 0.03rem;
}

.navbar-nav li a.active, .navbar-nav li a:focus {
  border-top: .2rem solid var(--primary-teal);
}